@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


::selection{
    background:hwb(46 82% 0%);
    color: #3f3f3f;
  }

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('Backgrounds/vecteezy_muted-tones-twist-in-delightful-gradients-crafting-a-serene_.jpg');
    background-position: center;
    background-size: cover;
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);
    min-height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 400px;
}

.text-font {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
}

h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 0.9rem;
    margin-bottom: 20px;
    color: #666;
    margin-top: 10px;
}

.email-container {
    margin: 20px 0;
    text-align: left;
}

.input-container {
    display: flex;
    align-items: center;
    background: #f4f5f7;
    border-radius: 30px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}


.input-container input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    padding: 5px 10px;
    flex: 1;
    color: #555;
}

.input-container input::placeholder {
    color: #aaa;
}


.continue {
    background-color: hwb(0 19% 81%);
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.4s ease;
    width: 100%;
}

.continue:hover {
    scale: 1.04;
    background: linear-gradient(90deg, rgba(255,94,87,1) 0%, rgba(153,69,255,1) 50%, rgba(46,196,255,1) 100%);
    color: #fff;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    h1 {
        font-size: 2.2rem;
    }

    p {
        font-size: 1rem;
    }

    .continue {
        font-size: 1.1rem;
    }

    input[type="email"],
    input[type="password"] {
        font-size: 1.1rem;
    }
}
