@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}


.nav {
    display: flex;
    align-items: center;
    min-height: 8vh;
    background-color: white;
    font-size: 1rem;
    font-weight: bold;
}

.links {
    display: flex;
    justify-content: center; 
    flex-grow: 1; 
    gap: 10vh;
    list-style: none;
    padding: 0;
    margin: 0;
}

.links li {
    list-style: none;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.links a {
    color: #1f1f1f;
    text-decoration: none;
}

.nav-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
    gap:10px;
}

.login-btn{
    border: #1f1f1f solid 1px;
    border-radius: 999px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 1 solid transparent;
    padding: 8px 18px;
    margin-top: 5px;
    margin-right: 2px;
    user-select: none;
    -webkit-user-select: none;
    width: fit-content;
    word-break: break-word;
    background-color: white;
    transition:all 0.2s ease-in-out;
    touch-action: manipulation;
}

.login-btn:hover {
    background-color: #242424;
    color: white;
}

.Spicymonk-text{
    margin-left: 20px;
}


