@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: hwb(0 0% 100%);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#ff9900,#ffbf00);
    border-radius: 10px;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    /* background-color: hwb(0 9% 91%); */
}


.nav {
    display: flex;
    align-items: center;
    min-height: 8vh;
    background-color: white;
    font-size: 1rem;
    font-weight: bold;
}

.links {
    display: flex;
    justify-content: center; 
    flex-grow: 1; 
    gap: 10vh;
    list-style: none;
    padding: 0;
    margin: 0;
}

.links li {
    list-style: none;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.links a:hover{
    color: hsl(42, 100%, 50%);
}

.links a {
    color: #1f1f1f;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
    gap:10px;
}

.login-btn{
    border: #1f1f1f solid 1px;
    border-radius: 999px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 1 solid transparent;
    padding: 8px 18px;
    margin-top: 5px;
    margin-right: 2px;
    user-select: none;
    -webkit-user-select: none;
    width: fit-content;
    word-break: break-word;
    background-color: white;
    transition:all 0.2s ease-in-out;
    touch-action: manipulation;
}

.login-btn:hover {
    background-color: #242424;
    color: white;
}

.Spicymonk-text{
    margin-left: 20px;
}


.logo-img {
    height: 45px;
    width: 45px; 
    vertical-align: middle; 
    margin-right: 8px; 
}


.main-background {
    background-image: url('Resources/Home-Background-main.png');
    background-size: cover;
    background-position: center;
    height: 107vh; 
    width: 100%;
    margin-top: 19px;
  align-items: center;
  justify-content: center;
}


/* Hamburger Menu */
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger i {
    font-size: 24px;
}

.image{
    width: 40%;
    height: 40%;
    object-fit: cover;
    position: relative;
    left:10%;
    margin-top: 60px;
    animation: float 2.5s alternate infinite;
}


/* Floating animation */
@keyframes float{
    from{
        bottom: 0;
    }
    to{
        bottom: 60px;
    }
}

.main-text{
    position: relative;
    top: 30vh;
    left: 15px;
    font-size: 100px;
    font-weight: 900;
    font-style: italic;
}

.main{
    display: flex;
    width: 100%;
    height: 40%;
}
