@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');


*{
    margin: 0;
    padding: 0;
}


::selection{
    background:hwb(46 82% 0%);
    color: #3f3f3f;
  }

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: hwb(0 0% 100%);
}


::-webkit-scrollbar-thumb{
    /* background: linear-gradient(#ff9900,#ffbf00); */
    background: linear-gradient(hsl(0, 0%, 49%),hsl(0, 0%, 38%));
    border-radius: 10px;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    /* background-color: hwb(0 9% 91%); */
}


.nav {
    display: flex;
    align-items: center;
    min-height: 8vh;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 10px;
    position: sticky;
    animation: slide-down 1.5s ease;
}

@keyframes slide-down{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes slide-up{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-30%);
    }
}

.links {
    display: flex;
    justify-content: center; 
    flex-grow: 1; 
    gap: 10vh;
    list-style: none;
    padding: 0;
    margin: 0;
}

.links li {
    list-style: none;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.links a:hover{
    color: hsl(42, 100%, 50%);
}

.links a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
    gap:10px;
}

.login-btn , .order-btn{
    /* border: #1f1f1f solid 1px; */
    border: #ffffff solid 0.5px;
    border-radius: 999px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 1 solid transparent;
    padding: 8px 18px;
    margin-top: 5px;
    margin-right: 2px;
    user-select: none;
    -webkit-user-select: none;
    width: fit-content;
    word-break: break-word;
    /* background-color: white; */
    background-color: #ffffff00;
    transition:all 0.2s ease-in-out;
    touch-action: manipulation;
    color: white;
}

.log{
    background-color:  rgb(255, 255, 255);
    color: #353535;
}

.login-btn:hover {
    background-color: #fcca00;
    color: #131313;
    border-color: transparent;
    box-shadow: 0 0 9px 0 hsla(53, 96%, 67%, 0.384);
}

.order-btn {
    position: relative;
    top: 32%;
    font-size: 16px;
    padding: 10px 22px;
    animation: fadeIn-button 1.2s;
    margin-top: 20px;
}
.sign{
    background-color:  rgba(44, 44, 44, 0.269)
}

.btn{
    margin-top: 7%;
    margin-left: 20px;
    margin-bottom: 10px;
}

.order-btn:hover {
    background-color: rgb(73, 216, 140);
    color: rgb(20, 35, 28);
    border-color: rgba(0, 0, 0, 0);
    box-shadow: hsla(146, 90%, 43%, 0.489) 0px 0px 7px 0px;
}
.Spicymonk-text{
    margin-left: 20px;
    color: white;
}


.logo-img {
    height: 45px;
    width: 45px; 
    vertical-align: middle; 
    margin-right: 8px; 
}


.main-background {
    background-image: url('Resources/Home-Background-main.png');
    background-size: cover;
    background-position: center;
    height: 107vh; 
    width: 100%;
    margin-top: 19px;
  align-items: center;
  justify-content: center;
}


/* Hamburger Menu */
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger i {
    font-size: 24px;
}



/* Floating animation */
@keyframes float{
    from{
        bottom: 0;
    }
    to{
        bottom: 60px;
    }
}

.main-text{
    position: relative;
    top: 17vh;
    left: 17px;
    font-size: 95px;
    font-weight: 900;
    font-style: normal; 
    color: white;
    animation: fadeIn 1.5s forwards;
}

.second-text{
    position: relative;
    top: 13vh;
    left: 17px;

    font-size: 95px;
    font-weight: 900;
    font-style: normal; 
    color: white;
    animation: fadeIn 1.5s forwards;
}

.description-text{
    position: relative;
    top: 6vh; 
    left: 12px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal; 
    color: hwb(0 52% 48% / 0.802);
    animation: fadeIn 1.5s ease forwards;
    display: inline-block; 
    max-width: 80%;
    text-align: center; 
}

@keyframes fadeIn{
    from{
        left:-40%;
    }
    to{
       left: 15px;
    }
}

@keyframes fadeIn-button {
    from {
        opacity: 0%;
        left: -40%;
    }
    to {
        opacity: 100%;
        left: 0;
    }
}
.unique-text{
    font-family: "Mr Dafoe", serif;
    font-weight: 400;
    font-style: normal;
}

.main{
    display: flex;
    width: 100%;
    height: 35%;
    position: relative;

}

.description{
    margin-top: 10%;
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;

}
.header{
    background-image: url(Resources/crop-plate-with-salad.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgb(25, 25, 25);
    width: 100%;
    height: 100vh;
}

@keyframes breathe-background{
    /* 0%{
        background-color: hsl(0, 0%, 7%);
    }
    50%{
        background-color: hwb(0 13% 87%);
    }
    100%{
        background-color: hsl(0, 0%, 7%);
    } */
}






